@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(226 232 240);
    user-select: none;
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* scrollbar */
::-webkit-scrollbar{
    height: 5px;
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #b1b0b0;
}






.item figure{
    height: 300px;
}
.item img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}




/* overrides */
.btn-primary{
    color: white;
}

.cart-drawer{
    background-color: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(4px);
    color: black;
    overflow-y: scroll;
}
.cart-img-wrapper{
    height: 50px;
    width: 40px;
}
.cart-img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.cart-drawer::-webkit-scrollbar{
    width: 2px;
}